/***********************************************************
This file is used to style the Roast Card Website.
  - index.html
******************************************************************/
:root {
  --coffee: #6f4e37; /*Base color, Representing essance and warmth of coffee*/

  --burgundy: #8b0000; /*Highlight and Accents, Adds sophistication elegance*/

  --cream: #f5e6ca; /*backgrounds and text, contrast for comfort and balance*/

  --gold: #d4af37; /*buttons or other important elements,  add a touch of luxury and warmth*/

  --espresso: #2c1e12; /*text and darker accents, provides contrast and elegance.*/
  
  --displayFont: 'Playfair Display', serif;

  --scriptFont: 'pacifico', cursive;

  --contemporaryFont: 'Open Sans', sans-serif;

  --formalFont: 'Times New Roman', Times, serif;
}

/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--coffee);
}

::-webkit-scrollbar-thumb {
  background-color: var(--espresso);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gold);
}
/*****************************************************************
  - Generic Page Styles
******************************************************************/
body {
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    overflow-x: hidden; /* Disable horizontal scroll */
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.draggable {
  touch-action: none;
  user-select: none;
}
.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  height: 100%;
}
.column {
  flex-direction: column;
}
/*****************************************************************
  - Header Section
******************************************************************/
header {
    background-color: var(--coffee);
    color: white;
    transition: transform 0.5s ease-in-out; /**IMPORTANT - removes header on-click, JS event attached**/
}

.header-container {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.header-container h1 {
  margin: 0; /* Remove default margins to ensure consistent spacing */
  font-style: bold;
  font-family: Vina Sans;
}

.header-container h4 {
  margin: 0; /* Remove default margins to ensure consistent spacing */
  font-style: italic; /* Apply italic font style */
  color: var(--gold);
}

.header-img, .header-img img {
max-height: 100px;
max-width: 100px;
}
.header-text {
  display: flex;
  flex-direction: column;
  color: var(--cream);
}
.header-text h1 {
  margin-bottom: 10px;
  letter-spacing: 5px;
  text-wrap: wrap;
}
.hide-header {
  transform: translateY(-100%);
}
/*****************************************************************
  - Nav / Menu Bar
******************************************************************/

.menubar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--coffee);
  color: white;
}
.menubar-logo {
  display:flex;
  align-items: center;
  gap: 15px;
  color: var(--cream);
}
.menubar-logo img {
  max-height: 50px;
  max-width: 50px;
  }
.menu, .menu a {
  display: flex;
  align-items: center;
  gap: 24px;

  text-decoration: none;
  color: var(--burgundy);
}
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.move-content {
  margin-top: 80px; /* Adjust the Location of the content to account for the header */
}
.menu-button {
  background-color: var(--coffee);
  color: var(--cream);
  border: none;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
.menu-button:hover {
  color: var(--gold);
}


/*****************************************************************
  - Main Content Area
    - Elements Bar
    - Border Elements
    - Start Container
    - Canvas Container
******************************************************************/

main {
  color: var(--coffee);
  background-color: var(--cream);
}
.content-container {
  display: flex;
  justify-content: flex-end;
  
  min-height: 70vh;
}
.element-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  flex-wrap: wrap;
  
  position: fixed;
  left: 0;
  top: 74px;
  
  min-width: 15%;
  max-width: 20%;
  height: 95vh;

  background-color: var(--cream);
  border-right: 1px solid var(--burgundy);

  box-shadow: 4px 0px 10px 0px var(--coffee);

  z-index: 1;
}
.canvas-area {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 450px;

  padding-left: 10px;
  padding-right: 10px;
  }
.resizable-container {
  display: flex;
  position: relative;

  padding: 30px;

  height: 300px;
  min-height: 300px;
  max-height: 10.5in; /* Standard Paper size */

  min-width: 9in; /* Standard Paper size */
  max-width: 9in; /* Standard Paper size */

  z-index: 0;
}
.border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 20px solid transparent; /* Adjust border width */
  border-image: url('../img/stamp.png') 30 round; /* Adjust image path and slicing */
  z-index: 0;
}
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  background-color: var(--cream);

  z-index: 1;
}
.start-title {
  text-align: center;
  width: 90%;
  color: var(--espresso);
}
.start-text {
  text-align: center;
  width: 90%;
  color: var(--coffee);
}
.button-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.canvas-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  
  background-color: var(--cream);
  transition: background-color 0.3s;
  z-index: 1;

}

/*****************************************************************
  - Footer Section
******************************************************************/

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  background-color: var(--coffee);
  
  width: 100%;
  height: 50px;
  z-index: 1;
}
.footer-about {
  color: var(--cream);
  font-size: 15px;
  padding-left: 24px;
}
.footer-about:hover {
  color: var(--gold);
}

/*****************************************************************
  - Element Styles Section
******************************************************************/

.origin-element {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  height: 50px;
  margin: 5px;

  border: 1px solid var(--espresso);
  border-radius: 5px;

  background-color: var(--burgundy);
  color: var(--cream);
}
.origin-element:hover {
  background-color: var(--espresso);
  color: var(--gold);
  
}

.canvas-element {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 50px;

  position: absolute;
  top: 30px;
  left: 30px;
}

.canvas-element.title-element {
  color: var(--espresso);
  padding: 5px;
}
.canvas-element.date-element {
  color: var(--coffee);
  padding: 5px;
}
.canvas-element.log-element {
  padding: 5px;
}
.log-table {
  display: none;
  height: 100%;
  table-layout: fixed;
}
.log-table th,
.log-table td,
.log-table tr,
.modal-log-table th,
.modal-log-table td,
.modal-log-table tr {
  text-align: left;
  padding: 5px;
  border: 1px solid var(--espresso);
  color: var(--cream);

  min-width: 75px;
  height: 32px;
}


/*****************************************************************
  - DropZone Styles
******************************************************************/
  .drop-active-noDrop{
    background-color: rgba(255, 102, 102, 0.400);
  }
  
  .drop-active-canDrop {
    background-color: rgba(68, 238, 68, 0.400);

  }

/*****************************************************************
  - Modals
******************************************************************/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;

  background-color: var(--cream);
  
  border-radius: 15px;
  box-shadow: #000000 0px 0px 10px 0px;

  min-width: 30%; /* Could be more or less, depending on screen size */
  max-width: 80%;
}
.modal-header {
  display: flex;
  justify-content: center;

  padding: 20px;
  border-radius: 15px 15px 0 0; /* Apply border radius only to top left and right corners */

  background-color: var(--coffee);
  color: var(--cream);
}
.modal-body {
  display: flex;
  justify-content: center;  
  padding: 10px;
}

.modal-title-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10%;
}

.modal-footer {
  display: flex;
  justify-content:center;
  gap: 25px;
  padding: 15px;
}
.form-option {
  display: flex;
  gap: 10px;

  padding: 10px;

  width: 100%;

}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.spacer {
  width: 25%;
} 
.img-container {
width: 25%;
}
/* The modal footer buttons Button */
.modal-buttons {
  background-color: var(--burgundy);
  border: none;
  color: var(--cream);
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  border-radius: 5px;

}
.modal-buttons:hover {
  background-color: var(--espresso);
  color: var(--gold);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*****************************************************************
  - Buttons
******************************************************************/
  .new-card-button {
    background-color: var(--burgundy);
    border: none;
    border-radius: 5px;
    color: var(--cream);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }  
  .new-card-button:hover {
    background-color: var(--espresso);
    color: var(--gold);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .plus-munis-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plus-button, .minus-button {
    display: inline-block;
    background-color: var(--coffee);
    color: var(--cream);

    border: none;
    border-radius: 30%;

    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  .plus-button:hover, .minus-button:hover {
    background-color: var(--gold);
    color: var(--espresso);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .delete-button {
    cursor: pointer;
  }
  .delete-button:hover {
    content: url("../img/delete-dark.png");
  }



/*****************************************************************
  - Other Styles
******************************************************************/

  .input-box {
    height: 36px;
    background-color: var(--cream);
    color: var(--espresso);
    border: 0px solid var(--burgundy);
    border-bottom: 4px solid var(--coffee);
    margin: 5px;
    font-size: 18px;
  }
  .input-box option {
    background-color: var(--cream);
    color: var(--espresso);
  }
  .input-label{
    color: var(--burgundy);
    padding: 5px;
  }

  input[type=text] {
    background-color: var(--coffee);
    color: var(--cream);
  
    width: 100%;
    padding: 0px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
  }
  input[type=date] {
    background-color: var(--cream);
    color: var(--espresso);
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--espresso);
    display: inline-block;
    vertical-align: middle;
 
  }
  /* Style the radio button when it is checked */
  input[type="radio"]:checked {
    background-color: var(--burgundy);
  }
    /* Style the radio button when hovered */
    input[type="radio"]:hover {
      background-color: var(--gold);
    }
  .log-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 60vh;
    padding: 10px;
    overflow: auto;
    }
  .log {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--espresso);
  }
  .log-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .plus-munis-bttn {
    display: flex;
    justify-content: center;
  }
  .plus-munis-bttn p {
    padding-right: 10px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: var(--coffee);
    color: white
  }
  
  tr:nth-child(even) {
    background-color: var(--cream);
  }
  tr:nth-child(odd) {
    background-color:  beige;
  }

