/*
This file is used to style the website.

Created By: Andrew Patterson For Roast From the Coast - get Coding Course Application 1

*/

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
  }
/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden; /* Disable horizontal scroll */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.logo {
  display:flex;
  align-items: center;
  justify-content: center;
}
.logo img {
max-height: 100px;
max-width: 100px;
}
.logo h1 {
  margin: 0; /* Remove default margins to ensure consistent spacing */
}

.logo h4 {
  margin: 0; /* Remove default margins */
  font-style: italic; /* Apply italic font style */
}
/* Position the text to the right of the logo image */
.logo-text {
  display: flex;
  flex-direction: column;
}


nav {
    display: flex;
    align-items: center;

    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}
nav a {
  text-decoration: none;
  color: white;
}

.logo2 {
  display:flex;
  align-items: center;
}
.logo2 img {
  max-height: 50px;
  max-width: 50px;
  }
.menu {
margin: 0 auto;
}
  
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; /* Adjust spacing between menu items */
}

.menu ul li {
  font-size: 16px;
}

h1 {
    margin-bottom: 10px;
    font-style: bold;
    font-family: Vina Sans;
    letter-spacing: 5px;
    
}


/* Styling for the menu bar */
.menu-bar {
  position: fixed;
  left: 0;
  width: 120px;
  height: 100%;
  background-color: #f2f2f2;
  border-right: 1px solid #ddd;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1;

}



.draggable {
  position: relative;

  touch-action: none;
  user-select: none;

  transition: background-color 0.3s;
}

.origin-element {
  display: inline-block;
  max-width: 100%;
  max-height: 100px;

  margin: 5px;
  padding: 5px;

  z-index: 1;
}
.canvas-element {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  top: 30;
  left: 30;
}

.title-element {
  color: #212121;
  background-color: #ad9191;

  padding: 5px;
}
.date-element {
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  
  min-width: 75px;
  min-height: 50px;
  padding: 5px;
}

main {
  width: 100%;
  margin: 0 auto;
  color: #6f4e37;
  background-color: #f2f2f2;

  min-height: 80vh;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Center vertically within the viewport */
    
    padding-top: 40px; /* Add some padding to separate content from header/nav */
    padding-bottom: 40px;
    /*     padding-left: 125px; */
  }
.border-container {
    position: relative;

    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

    min-width: 40%;
    max-width: 100%;

    min-height: 40vh;

  }
  
  .border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 20px solid transparent; /* Adjust border width */
    border-image: url('../img/stamp.png') 30 round; /* Adjust image path and slicing */
  }


  .start-container {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .canvas-container {
    z-index: 1;
    position: static;

    min-height: 32vh;
    width: 100%;
    height: 100%;
    
    background-color: #f2f2f2;
    transition: background-color 0.3s;
  }


  .drop-active {
    background-color: rgb(255, 102, 102);
    opacity: 0.1;
  }
  
  .drop-target {
    background-color: #4e4;
    opacity: 0.1;

  }
  .new-card-button {
    background-color: #6f4e37;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }  
  .new-card-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .fade-in {
      opacity: 1;
      transition: opacity 1s ease-in-out;
  }

.footer-container {
    position: fixed;
    bottom: 0;

    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    
    width: 100%;
    max-height: 50px;
    z-index: 2;
}


.hide-header {
  transform: translateY(-100%);
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.move-content-up {
  margin-top: -80px; /* Adjust the Location of the content to account for the header */
}